<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/header-and-options.css">
    <link rel="stylesheet" type="text/css" href="/css/body.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">

    <title>Redbird</title>
</head>
<body>
    

    <div id="container">
        <div id="app-header">
            <span class="options">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </span>
            <span class="logo"><img src="/images/conmunism-simbol.svg" alt=""></span>
            <span class="trending"><img src="/images/bug_report-white-18dp.svg" alt=""></span>
            
        </div>
        
        <div id="app-options" class="hidden">
            <div class="profile"><img class="profile-pic" name="profile_pic" src="" alt=""></div>
            <ul>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Saves</a></li>
                <li><a href="#">Gulag</a></li>
                <li><a href="#">Exit (But Actually No)</a></li>
            </ul>
        </div>


        <div id="app-body">

            <div class="header">
                <div class="search-bar">
                    <img src="/images/search-24px.svg" alt="">
                    <input placeholder="Search" type="text">
                </div>
            </div>

            <div class="messages">
                <!--
                    <h1>No Messages</h1>
                    <p>Maybe it doesn't work!</p>
                -->

                <div class="msg-item">
                    <div class="text">All hail soviets</div>
                    <div class="footer">
                        <a href="#">coment</a>
                        <a href="#">share</a>
                        <a href="#">like</a>
                    </div>
                </div>

                <div class="msg-item">
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto optio explicabo nisi quos magni itaque omnis modi, aut in veritatis sequi laboriosam ipsa obcaecati incidunt repellendus quisquam necessitatibus adipisci porro.</div>
                    <div class="footer">
                        <a href="#">coment</a>
                        <a href="#">share</a>
                        <a href="#">like</a>
                    </div>
                </div>

                <div class="msg-item">
                    <div class="text">Americans Sucks</div>
                    <div class="footer">
                        <a href="#">coment</a>
                        <a href="#">share</a>
                        <a href="#">like</a>
                    </div>
                </div>

                <div class="msg-item">
                    <div class="text">Americans Sucks</div>
                    <div class="footer">
                        <a href="#">coment</a>
                        <a href="#">share</a>
                        <a href="#">like</a>
                    </div>
                </div>

                <div class="msg-item">
                    <div class="text">Americans Sucks</div>
                    <div class="footer">
                        <a href="#">coment</a>
                        <a href="#">share</a>
                        <a href="#">like</a>
                    </div>
                </div>

            </div>
            
            <span id="write"><strong>+</strong></span>
        </div>
        

        
        


    </div>

    <script src="/scripts/opt.js"></script>

</body>
</html>